<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @expense.user_id %>
</p>

<p>
  <b>Expensetype:</b>
  <%= @expense.expensetype_id %>
</p>

<p>
  <b>Expense amount:</b>
  <%= @expense.expense_amount %>
</p>

<p>
  <b>Comment:</b>
  <%= @expense.comment %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
